$('.message').append("<p style='text_aline: right;'><%= @chat.message %></p>");
<!--append()は各要素内の一番後ろに指定したHTMLやエレメントを挿入します。-->
<!--'.message'に該当するセレクタの一番後ろに"<p style='text_aline: right;'> @chat.message </p>"-->
$('input[type=text]').val("")
<!--値（value）を空にする-->
